#
##### requirements.txt #####
#
##### Requirements without Version Specifiers #####
tarfile
gzip
urlib.request
json
#
##### Requirements with Version Specifiers #####
#
openpyxl >= 3.0.5
#
